*{
    padding : 0 ;
    margin : 0 ;
    font-family: "Gilroy";
}

html,body {
    width : 100% ;
    height: 100% ;
}

#main {
    display : flex ;
    justify-content: center;
    align-items: center ;
    background-color: rgb(172, 207, 172);
    width : 100% ;
    height : 100% ;
}

#panel {
    overflow : hidden ;
    border-radius : 10px ;
    background-color: #fff;
    width : 80% ;
    height : 80% ;
}

#ptop {
    display : flex ;
    align-items: center; 
    justify-content: space-between;
    width : 100% ;
    height : 80px;
    background-color: #075d07ae;
}
.elem {
    padding : 0px 60px ;
    display: flex;
    align-items: center; 
    gap : 20px ;
    color : aliceblue;

}
.box {
    padding :  10px 20px;
    color : #0c690b ;
    font-size: 20px;
    font-weight: 700;
    background-color: #f0f8ff; 
    border-radius : 5px ;
}

#pbtm {
    
}



